
 
.diva::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 4px;
    background-color: transparent;
    transition: width 0.3s ease-in-out;
  }
  
  .diva:hover::after {
    width: 100%;
    background-color: #BB9A2D; /* Light purple color */
    animation: purpleAnimation 0.3s linear;
  }
  
  @keyframes purpleAnimation {
    0% { width: 0; }
    100% { width: 100%; }
  }
  .aname-item {
    position: relative;
    cursor: pointer;
    /* border-radius: 5px; */
    transition: background-color 0.3s;
  }
  
  .fonta{
  
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif}
    
  
  /* .aname-item:hover {
    background-color: #e4b4db;
  } */
  
  .aname-item::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    transition: background-color 0.3s;
  }
  
  .aname-item:hover::after {
    background-color: lightpurple; /* Change this to the desired shade of light purple */
  }
  
  .adropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
    width: 150px;
    padding: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .adropdown-link {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: #333;
  }
  
  .adropdown-link:hover {
    background-color: #f0f0f0;
  }
  
  
  /* ---------------------------------------------------OVERLAY CSS */
  
  